body{
        background-image: url("download.jpg");
        background-repeat: repeat;
        background-size: 20px;
}
.A{
    background-color: black;
    border-radius: 10px;
    border: 5px solid red;
    height: 160px;
    width: 400px;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 45;
    color: white;
    font-style: italic;
    font-weight: 1000;
    position: relative;
    top: 50px;
    left: 20px;

}
.B{
    position: relative;
    left: 21%;
    top: -15%;
    background-color: black;
    border-radius: 20px;
    border: 5px solid red;
    height: 60px;
    width: 420px;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 30;
    color: white;
    font-style: italic;
    font-weight: 1000; 
}
.C{

    position: relative;
    top: -25%;
    left: 70%;
    background-color: black;
    border-radius: 20px;
    border: 5px solid red;
    height: 180px;
    width: 420px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 35px;
    color: white;
    font-style: italic;
    font-weight: 1000;
}
 
.D{
    border: 7px dashed red ;
    color: red;
    width: 30%;
    position: relative;
    left: 55%;
    top: -390px;
    text-align: center;

}
.E{
    text-align: center;
position: relative;
left: 30%;
top: -30%;
background-color: black;
border-radius: 20px;
border: 5px solid red;
width: 35%;
height: 60px;
color: white;
font-size: 35;
font-style: italic;
font-weight: 200;
}
.F{
    text-align: center;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: green;
    text-decoration: underline;
    font-style: italic;
    border: 10px solid yellow;
    font-size: larger;
    position: relative;
    top: 400px;
    left: 100px;
}

.starters{
    text-align: center;
border: 6px solid green;
background-color: aqua;
color: blue;
width:20%;
height:35%;
border-radius: 20px;

}
.south{
    position: relative;
    left: 35%;
    top: -36%;
    text-align: center;
    border: 6px solid green;
    background-color: aqua;
    color: blue;
    width:20%;
    height:35%;
    border-radius: 20px;
   }
.indian{
    position: relative;
    left: 180%;
    top: -93%;
    text-align: center;
    border: 6px solid green;
    background-color: aqua;
    color: blue;
    width:100%;
    height:100%;
    border-radius: 20px;
    
}
.Rice{
    position: relative;
    left: -175%;
    top: -60%;
    text-align: center;
    border: 6px solid green;
    background-color: aqua;
    color: blue;
    width:100%;
    height:100%;
    border-radius: 20px;
}
.tandoori{
    position: relative;
    top: -165%;
    text-align: center;
    border: 6px solid green;
    background-color: aqua;
    color: blue;
    width:100%;
    height:100%;
    border-radius: 20px;

}
.Beverage{
    position: relative;
    top: -268%;
    left: 180%;
    text-align: center;
    border: 6px solid green;
    background-color: aqua;
    color: blue;
    width:100%;
    height:100%;
    border-radius: 20px;
}